<div id="admin_authors">

  <%= form_for(@publications, :url => publication_path(@publications), :method => 'delete') do |f| %>
    <p>Are you sure you want to get rid of this publication?</p>

    <p class="italic"><%= f.object.name %></p>

    <div class="form_buttons">
      <%= f.submit("yes, delete it", :class => "blue_btn shadow margin_top_one block centered", :style => "color: #fff; border: none; cursor: pointer; font-size: 1.2em;") %>
    </div>

    <% end %>
  </div>
