
    <!-- This is the white part of the page where all the content will be. -->
    <div class="background_nodes">

      <!-- Contains the content -->
      <div class="overlay shadow ramp" style="margin-bottom: 10em;">

        <div class="sixty inline_block no_margin padding_left_seven" id="left_container">



              <div class="sixty inline_block top: 700px">
                <p class="italic inline white margin_none"><%= @publication.name%></p>
              </div>



        </div>
      </div>
    </div>
<script>
alert('<%= @publication.name %>')
</script>
