  <div id="admin_authors">

    <%= form_for(@ramp_pages, :url => ramp_page_path(@ramp_pages), :method => 'delete') do |f| %>

      <p>Are you sure you want to remove this measurement from our database?</p>

      <p class="italic bold"><%= f.object.name %></p>

      <div class="form_buttons">
        <%= f.submit("yes, delete it", :class => "blue_btn shadow margin_top_one block centered", :style => "color: #fff; border: none; cursor: pointer; font-size: 1.2em;") %>
      </div>

      <% end %>
    </div>
