  <div class="padding_one padding_lr_none">
    <div class="fifteen inline_block margin_right_one">
      <h4 class="inline">Name:</h4>
    </div>
    <%= f.text_field(:name, :class => "text_field padding_half sixty text_left relative inline_block") %>
  </div>
