/* Nav stylesheet */
/* Loads after primary style */

/* Colors */

/* Blues */
$um_blue: #00274c;
$the_darkest_blue: #101721;
$darkest_blue: #19202d;
$darker_blue: #2a2d37;
$blue_gray: #495066;
$periwinkle: #8793b2;
$lighter_periwinkle: #b4becc;
$bright_blue: #4099ff;

/* Yellow/Oranges */
$maize: #ffcb05;
$tangerine: #f29e44;

/* Greens */
$darkest_green: #4d8479;
$middle_green: #55a898;
$lightest_green: #a0dacb;

/* Grays */
$gray: #555;
$light_gray: #ccc;

#umich_logo, #icam_logo {
  width: 216px;
  height: 40px;
  background: url('UMHS_logo.png');
  background-repeat: no-repeat;
  display: inline-block;
}
#icam_logo {
  background: url('icam_logo.png');
  width: 130px;
  background-repeat: no-repeat;
  background-position: 12px 5px;
}
#labels, .background{ /* This is the styling for everything in that top bar, including the logo, navigation, and search. */
  z-index: 3;
  position: fixed;
  width: 100%;
  max-width: 1400px;
  h1, nav, #search {
    display: inline-block;
    vertical-align: top;
  }
  h1{
    font-size: 1.2em;
    color: $lighter_periwinkle;
    padding: 7px 0 0 10px;
  }
  nav {
    float: right;
    margin-right: 1%;
    /* style all links within this nav */
    a {
        color: #fff;
        font-size: 1em;
        font-weight: bold;
    }
    ul {
      list-style-type:none;
      -webkit-transform: translateZ(0);
      li {
        transition: all .2s ease;
        display: inline-block;
        position: relative;
        padding: 1.1em 1.5em .5em 1em;
        background: url(arrow-down.png) no-repeat 90% 62%;
        &:hover, {
          background-color: $bright_blue;
          color: #fff;
          cursor: pointer;
          & a {color: #fff;
      }
        }
        &#search {
          background: url(search.png) no-repeat 20px 18px;
          padding: 1.1em .5em .5em .5em;
          & a, {
            color: transparent; /* I put text here that says "Search" to make the search icon a button like the <li> items.
            With text, the padding rules apply, making it the same size as the other menu <li> items.
            Here I made the text transparent so only the background image (magnifyging glass) shows. */
          }
          &:hover{
            background:url(search_white.png) no-repeat 20px 18px; /* Changing that magnifying glass to white on hover */
            background-color: $bright_blue;
            cursor: pointer;
            & a {color: transparent;} /* Making sure that "search" text stays transparent on hover */
          }
        }
        /* first-children of the nav */
        ul {
          background-color: $darkest_blue;
          position: absolute;
          left:0;
          top: 45px; /* this makes sure there is no gap between the #labels bar and the block where these children are. */
          width:120px;
          li {

            display: block;
            padding: .5em;
            background: url(arrow-right.png) no-repeat 90%;
            &.no-children { /* If this first-child has no children, it won't show an arrow to the right. */
              background-image: none;
            }
            /* second-children of the nav */
            ul {
              position:absolute;
              top:0;
              left:115px; /* make this equal to the width of the first-children above */
              width: 130px;
              li {
                border-top: none;
                padding: .25em;
                background-color: #232d3d;
                a {
                  font-size: 1em;
                  &:last-child a {
                    border-bottom: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  } /* End of nav styling */
} /* End of #labels styling */

/* hide sub menu links */
ul.sub-menu {
    display:none;
    border: solid 2px #000;
}
.background {
  background: url(blue_maze.png);
  height: 45px;
}
#labels nav {display: inline-block;}
div.dropdown {color: #fff;}
#labesls a:hover {color: #fff;}

@media only screen and (max-width: 975px) {

nav ul {width: 100%; display: block; position: relative;}
nav ul li {width: 100%; height: 100%; display: block; position: relative; background: red;}
nav ul li ul {width: 100%; display: block; position: relative; }
#labels nav ul li ul li {width: 100%; display: block; position: relative;}
#labels nav ul li ul, .background nav ul li ul {width: 100%; display: block; position: relative; top: 0px;}
#labels nav ul li ul li ul, .background nav ul li ul li ul {width: 100%; left: 0; display: block; position: relative;}
#labels nav ul li ul li ul li {padding: 1em;}
#labels nav ul li ul li ul li a {font-size: 1em; color: #fff;}
#labels nav ul li ul li, .background nav ul li ul li {padding: 1em;}
#labels nav ul li ul li.no-children, .background nav ul li ul li.no-children {font-size: 1em; padding: 1em;}

ul.sub-menu {
    display:block;
    border: solid 2px #000;
}
#labels nav ul li, .background nav ul li {padding: 0; }
div.dropdown {width: 100%; height: 100%; padding: 1em; left: 0; font-size: 1em; color: #fff;}
#labels nav, .background nav {margin: 0;}
nav {background: $the_darkest_blue;}
#labels nav {width: 100%; display: none; position: relative;}
li.expand {padding: 0;}
#labels nav ul li
/*

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: url(blue_maze.png);
  height: 45px;
  width: 45px;

}
@media only screen and (max-width: 975px) {
// Insert all mobile styles here
//.dropdown {display: none;}

#labels nav ul li.dark {background: $darkest_blue;}
#labels nav ul li.light {background: $darker_blue;}


nav {
  width: 70%;

  ul {
    display: none;
    float: none;


    li {
      display: block;
      float: none;
      width: 50%;

      display:block;
      float:left;
      a {
        padding: 15px;
        line-height: 20px;
      }
      ul li a {
        display: block;
        padding-left: 30px;
        float: none;
      }
    }

  }


}

.dropdown {
  position: static;



  }
*/
// Styles X button, doesn't actually do anything
.nav-toggle {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $lighter_periwinkle;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
.sub-menu, .dropdown {
  position: static;

  }


@media only screen and (max-width: 630px) {
  #labels h1 {font-size: .9em; font-weight: bold; padding-top: 12px;}

  @media only screen and (max-width: 520px) {
    #umich_logo {
      width: 59px;
      background: url('block_m.png');
      background-repeat: no-repeat;
      background-position: 4px 4px;
      padding: 2px 0 0 4px;
    }
    @media only screen and (max-width: 370px) {
    #labels h1 {font-size: .7em; padding-top: 16px;}


    }
}
}
}
