<div class="tooltip"> <!-- This div contains instructions that show up when a user hovers over the question mark. Otherwise, it's hidden. -->
    <%= image_tag("question_mark.png", :alt => "help", :class => "inline_block", :id => "info") %>
    <span class="tooltiptext shadow_darker">
      <div class="centered">
        <ul class="orange_bullets text_left padding_bottom_one" style="font-size: .6em;">
          <li class="orange_bullets"><p>RAMP is the index of the population's bodily measurements</p></li>
          <li class="orange_bullets"><p>By comparing your patient's measurements to these charts, you can determine bodily composition compared to age- and gender-matched peers, which helps form an overall clinical impression of a patient.</p></li>
          <li class="orange_bullets"><p>These charts are not designed to be used as a diagnostic instrument, but instead to provide additional information about the patient being measured.</p></li>
        </ul>
      </div>
    </span>
  </div>
