<%= render(:partial => 'icam_header') %>


    <div id="page" class="gray_background shadow eighty">
      <div class="wrapper padding_top_seven inline_block">
        <div class="sixty inline_block no_margin padding_left_seven margin_bottom_two" id="left_container">
            <h1 class="bold inline_block">Contact Us</h1>
            <hr class="gray_line">
            <p class="padding_bottom_one padding_top_two"><strong>University of Michigan</strong><br>International Center for Automotive Medicine<br>1150 W. Medical Center Drive<br>3328 Medical Science Building 1 - SPC 5677<br>Ann Arbor, MI 48109-5677</p>
            <p class="padding_bottom_one padding_top_two margin_bottom_two"><strong>Call Us</strong><br>734.764.7841</p>
            <%= mail_to "caroknox@med.umich.edu", "email us", :style => "font-size: .9em", :class => "blue_btn regular centered" %>
        </div>
      </div>
    </div> <!-- end of the main content container that hangs out on the left. -->
