<div class="nodes_curved" style="height: 800px;">
</div>
  <div class="center eighty" style="top: 100px;">
    <%= image_tag("mag_graphic_people.png", :class => "full", :style => "max-width: 250px;") %>
    <h1 class="white margin_bottom_half">Morphomics Analysis Group (MAG)</h1>
      <p class="white bold italic margin_bottom_four">The Morphomic Analysis Group is a collaborative of researchers with
        surgical, medical, radiological, technological, engineering, and data
        expertise who are working together to document and analyze variation
        in human body factors. Each investigator in the group is working to
        understand how variations in very specific body structures impact and predict outcomes.</p>
        <a class="blue_btn shadow margin_top_two">collaborate with us</a>
</div>
<div class="centered forty padding_bottom_two">
  <h3>Current/Recent Collaborations, Projects, and Studies based on Analytic Morphomics</h3>
</div>
  <div class="eighty shadow rounded_corners white_background margin_bottom_two">
    <div class="padding_two dotty">
    <h3 class="italic padding_bottom_half">University of Michigan & Peking University</h3>
    <h5 class="bold padding_bottom_half">Role of Visceral Adiposity in the Pathogenesis of Non-Alcoholic Fatty Liver Disease (NAFLD) in Lean versus Obese Patients: A Comparative Study between Patients at University of Michigan Health System versus Peking University Health Science Center.</h5>
    <p class="bold italic padding_bottom_one">Anna Suk-Fong Lok MD, Principal Investigator and Grace Li-Chun Su MD, Co-Investigator.</p>
    <p>This study will employ Analytic Morphomics, to quantify visceral adipose tissue, ectopic adipose tissue and quality of fat in lean Chinese with NAFLD versus lean Chinese with no NAFLD and obese Chinese with NAFLD. Data from the study will enable the identification of lean persons with non-alcoholic fatty liver disease and to implement interventions to improve outcomes of those who are predicted to have high risk of metabolic abnormalities and progressive liver disease.</p>
  </div>
  <div class="padding_two dotty">
    <h3 class="italic padding_bottom_half">University of Michigan</h3>
    <h5 class="bold padding_bottom_half">Morphometric measurements on CT imaging in Bone Marrow Transplant Patients as a Predictor of Outcomes</h5>
    <p class="bold italic padding_bottom_one">Sung Choi, MD Principal Investigator, and Stewart C. Wang, MD, PhD, Co-Investigator.</p>
    <p>Allogeneic hematopoietic cell transplantation (HCT) is an important therapeutic option for a number of malignant and non-malignant conditions. Despite improved outcomes over the past decade, transplant continues to be associated with high morbidity and mortality. Accordingly, it is important to better define patient characteristics, disease status, and transplant variables that could inform more accurate and individualized prognostication about overall and cause-specific mortality. The application of analytic morphomics identified new knowledge about the role of adipose tissue and muscle quality beyond that of weight and height alone, as measured by BMI. For this reason, we recently examined the impact of body mass index (BMI) in allogeneic HCT and found that obese patients were at significantly greater risk of non-relapse mortality (NRM) compared with normal weight individuals.</p>
  </div>
  <div class="padding_two dotty">
    <h3 class="italic padding_bottom_half">University of Michigan & St. Jude’s Children’s Research Hospital</h3>
    <h5 class="bold padding_bottom_half">Sarcoma SPORE Developmental Research Grant</h5>
    <p class="bold italic padding_bottom_one">Laurence Baker, DO Principal Investigator, Stewart Wang, MD, PhD Co-investigator, Monika Leja, MD Co-investigator.</p>
    <p>There has been progress in the management of children, teenagers and young adults with bone cancers such that cure is the most common outcome. Yet, among those cured there is a remarkable increase in the development of severe or even fatal chronic illnesses. The most common of these is heart disease. Of the two common pediatric bone cancers in this population, osteosarcoma was chosen because it is prevalent and radiation therapy to the chest is not routine practice. While oncology has made great strides in treatment, cardiology has also developed strong programs in prevention and treatment. The ability to reduce coronary artery disease has been highly successful with the identification of remediable risk factors. This grant proposal seeks to identify remediable risk factors in this cured population of osteosarcoma young patients permitting further study towards prevention as well as early treatment (hypertension). By utilizing Analytic Morphomics, one can assess a person's physical condition and define functional reserve far more precisely. The goal is to develop an algorithm that predicts premature aging or cardiac dysfunction. Assuming the development is successful, there is a strategy to confirm its accuracy with a separate patient cohort, St. Jude's survivorship cancer program located in Memphis, TN.</p>
  </div>
  <div class="padding_two dotty">
    <h3 class="italic padding_bottom_half">University of Chicago & University of Michigan</h3>
    <h5 class="bold padding_bottom_half">The Relationship of Core Muscle Volume to Complications and Survival after Lung Resection for Cancer</h5>
    <p class="bold italic padding_bottom_one">Mark K. Ferguson MD, Principal Investigator, Stewart C. Wang, MD, PhD Co-Investigator</p>
    <p>Outcomes after anatomic lung resection for cancer have been related to age, other physiologic parameters including pulmonary and cardiovascular status, and body mass index (BMI). BMI is related to abdominal adiposity, which has been shown to be protective against perioperative complications and is associated with long-term survival for a number of conditions. BMI can also be a surrogate for sarcopenia, and low BMI is an independent risk factor for adverse short-term outcomes after lung resection. Frailty has also recently been shown to be predictive of short- and long-term outcomes after a variety of operations; frailty and sarcopenia are frequently associated. Because of the complex relationship of BMI to surgical outcomes, measurement of core muscle mass as a measure of sarcopenia is likely to be more accurate in predicting surgical complications than is BMI. The goal of this study is to use Analytic Morphomics to assess lean core muscle mass in patients who have undergone anatomic lung resection for cancer and determine the ability of muscle mass to independently predict short- and long-term outcomes.</p>
  </div>
  <div class="padding_two">
    <h3 class="italic padding_bottom_half">University of Michigan</h3>
    <h5 class="bold padding_bottom_half">Analytic morphomics accurately identifies serous and mucinous cystic neoplasms</h5>
    <p class="bold italic padding_bottom_one">Richard Kwon, MD, Principal Investigator, and Stewart C. Wang, MD, PhD, Co-Investigator, Grace Su MD, Co-Investigator.</p>
    <p>Current imaging has limited ability to differentiate between mucinous (MUC) and non-mucinous pancreatic cysts. Improvement in diagnostic accuracy would reduce unnecessary surveillance and surgery and lead to more cost-effective care. Through Analytic Morphomics, we hypothesize that quantifiable criteria can help distinguish between MUC and non-MUC cysts.</p>
  </div>
