
<div id="page" class="shadow">

  <!-- Header image and content -->
  <div class="background_stus_story shadow_darker" style="min-height: 720px">
    <div class="inline_block forty text_left padding_left_three fade" style="padding-top: 180px; max-width: 480px;">
      <h1 style="font-size: 2.5em;" class="white">My Story</h1>
      <h5 class="italic bold white margin_bottom_two">I have taken an interesting life path, and there are a couple of reoccurring themes and pivotal moments that have driven my interests and professional development.</h5>
      <h5 class="white italic bold margin_bottom_half" style="max-width: 400px; margin-left: 0;">Below is a recounting of the epiphanies, influences, and paradigm shifts that continue to shape the direction of my life&#39;s work.</h5>
    </div>
    </div>

    <div class="full dotty padding_bottom_half">
      <div class="sixty orange_left block margin_two_auto padding_left_one story">
        <p>A major force in my life – and one that guides all of my endeavors – is asking myself what I am doing this day to be useful and of service to the world. My father instilled this maxim in me from the time I was quite young, and I hear its echo daily. In addition to this call to service, my father, via the recitation of his own life's adventures and travels, stoked my curiosity and opened my mind to this amazing world, which has served me well both professionally and personally.</p>
      </div>
    </div>

    <div class="full dotty padding_bottom_half">
      <div class="sixty blue_left block margin_two_auto padding_left_one story">
        <h3>1959</h3>
        <p>I was born in Taiwan and I have 3 incredible sisters. While I was growing up, my father traveled extensively in his work as an engineer and spoke fondly of the places he&#39;d been, the things he&#39;d learned, and the many friends he&#39;d made everywhere he went. Our family got to tag along for some of his travels, and by the time I reached middle school, I had lived in many places in Asia and the US, experiencing a number of cultures, religions, and norms.</p>
      </div>
    </div>

    <div class="full dotty padding_bottom_half">
      <div class="sixty blue_left block margin_two_auto padding_left_one story">
        <h3 class="bold">1978-1979</h3>
        <p>I was accepted to the University of Illinois, and I began my studies thinking that I would be an electrical engineer or a computer scientist. With an abiding interest in the humanities, however, I asked for permission to take a class on Shakespeare during my freshman year – a course outside the engineering curriculum. The Dean denied this request, citing program considerations. This was deeply dissatisfying, because it directly contradicts my belief in the power of a well-rounded education.</p>
        <p>At this same time, my mother became ill and was diagnosed with cancer. Learning about her disease and diagnosis spurred an evolution in my professional interests. After doing some research, I found that Yale University offered a program in the History of Science and Medicine, which appeared to be a perfect fit for my newly realized medical career goal and my broadening view of the world.</p>
      </div>
    </div>
    <div class="full dotty padding_bottom_half">
      <div class="sixty blue_left block margin_two_auto padding_left_one story">
        <h3>1980-1982</h3>
        <p>I applied to and was accepted by Yale, and I moved to New Haven in 1980. My world expanded again, when I discovered Thomas Khun&#39;s work regarding scientific revolution and paradigm shifts. I was fascinated by his thinking. To this day, his theory on how scientific progress does not occur in a linear fashion, but in periodic shifts after a body of knowledge has accumulated is mesmerizing.</p>
        <p>While I was at Yale, my mother died. When I returned from her funeral and my familial obligations, I was behind in classes, which was to be expected. In one history class, I asked a fellow classmate for her notes. Grace Su graciously offered me her assistance, and we became friends. I didn't know it then, but one day this helpful young woman would become my wife and life&#39;s partner.</p>
      </div>
    </div>

    <div class="full dotty padding_bottom_half">
      <div class="sixty blue_left block margin_two_auto padding_left_one story">
        <h3>1982-1986</h3>
        <p>I began medical school at the University of Chicago, Pritzker School of Medicine, and it was here that I realized that I was most interested in surgery as a discipline. Surgery is problem solving in its purest form, and it would enable me to make an immediate positive impact on patients. That very much appealed to me.</p>
      </div>
    </div>

    <div class="full dotty padding_bottom_half">
      <div class="sixty blue_left block margin_two_auto padding_left_one story">
        <h3>1986-1995</h3>
        <p>During my surgical residency at the University of Pittsburgh School of Medicine, I recognized that surgery is simply subjecting a body to intentional injury and that immunology is the study of the body’s response to injury. This realization led me to pursue a Ph.D. in Immunology to better understand the implications of this intentional injury on the human body.</p>
        <p>Late in 1995, I moved to Michigan and became a Staff Physician and Assistant Professor of Surgery at the University of Michigan Medical School.</p>
      </div>
    </div>
    <div class="full dotty padding_bottom_half">
      <div class="sixty blue_left block margin_two_auto padding_left_one story">
        <h3>1996-1997</h3>
        <p>As a Staff Physician in Trauma, not only at the University of Michigan Health System, but also at Hurley Hospital in Flint, I became adept at giving families bad news. I remember having to tell a young mother that her husband would never quite be the man that she married due to the extent of his injuries and subsequently having a young medical student tell me what a great job I had done delivering that devastating news to the family.</p>
        <p>At that point I realized that I didn&#39;t want to be good at delivering bad news&#59; I wanted to be good at preventing injury.</p>
        <p>This was a pivotal moment in my life. How could I effect change so that fewer families had to hear that their loved ones would never be the same?</p>
        <p>In response to this epiphany, I founded UMPIRE, the University of Michigan Program for Injury Research and Education. UMPIRE brings together professionals from a variety of disciplines who share a passion for decreasing the heavy societal burden caused by motor vehicle crash (MVC) injuries. Under the auspices of UMPIRE, we hold a monthly Case Review with clinicians, automotive engineers, safety system designers, law enforcement, and first responders. Over the course of four hours, we walk through and analyze crash data and compare it to the resulting MVC injuries,  working across discipline and organization to better understand and ultimately prevent devastating injuries.</p>
        <p>In the almost 20 years that UMPIRE has been in existence, thousands of crashes and the data associated with the subsequent interaction between vehicles have been measured, catalogued, and analyzed to better inform the professionals responding to the MVC, the clinicians treating the victims, and the automotive and safety experts who design and engineer vehicles.</p>
        <p>Together, we have gotten incrementally better at preventing injury!</p>
      </div>
    </div>
    <div class="full dotty padding_bottom_half">
      <div class="sixty blue_left block margin_two_auto padding_left_one story">
        <h3>1999-2003</h3>
        <p>As a trauma surgeon, I often treat victims involved in motor vehicle crashes (MVC). During my residency in Pennsylvania, I had quite a bit of experience with splenectomies after MVC&#59; it was, in my experience, a fairly common procedure. When I came to Michigan – the epicenter of the global automotive industry –I realized that I was not performing this procedure as often, and I wanted to know why. I began reviewing the CT scans of trauma patients in an effort to determine the reason for this decrease. What I found was that the body composition of drivers in Michigan – which at the time had the 5th highest obesity rate in the nation – resulted in a cushioning effect that seem to protect the spleen during MVCs.</p>
        <p>After this revelation, I began to collect the CT scans of UMHS trauma patients and devised a system for breaking down a CT scan into hundreds of thousands of granular data elements that collectively describe an individual in detail never before available. Thus, Analytic Morphomics was born, allowing us to take advantage of advances in medical imaging and bioinformatics.</p>
      </div>
    </div>
    <div class="full dotty padding_bottom_half">
      <div class="sixty blue_left block margin_two_auto padding_left_one story">
        <h3>2006</h3>
        <p>By 2006, I had been organizing and running UMPIRE&#39;s monthly case reviews to collect insights and knowledge about MVCs and injury for six years, and I was working with likeminded organizations such as the National Highway Traffic Safety Administration under the aegis of CIREN. Assessing all we had done, I realized that we had amassed a great deal of information that would be valuable to first responders, law enforcement professionals, and clinicians. Thus, we launched the crashedu.org training website, which was designed to teach people how to effectively use crash information from the scene and from Automated Crash Notification (ACN) systems. Our goal was to reduce the death rate from automobile crashes by integrating advanced trauma care systems with the ACN technology developed by the automotive industry.</p>
        <p>We created modules designed for each specialty to provide practical information about the mechanisms of injury in MVCs for all professionals associated with triaging and treating patients.</p>
      </div>
    </div>
    <div class="full dotty padding_bottom_half">
      <div class="sixty blue_left block margin_two_auto padding_left_one story">
        <h3>2007</h3>
        <p>As a multidisciplinary undertaking committed to integrating the expertise of professionals from the field to definitive care in the hospital, UMPIRE was an all-purpose learning center that spawned and nurtured both morphomics and automotive medicine. Over time it had grown and expanded in scope, and the University of Michigan recognized the importance of this integrated focus by establishing the International Center for Automotive Medicine (ICAM). Our mission is to foster synergistic research between medical specialties and automotive engineering and quickly translate new technologies, medical treatments, education, and policies that prevent injuries and improve care.</p>
      </div>
    </div>
    <div class="full dotty padding_bottom_half">
      <div class="sixty blue_left block margin_two_auto padding_left_one story">
        <h3>2008</h3>
        <p>A trauma surgeon generally treats patients for acute injuries over a short period of time&#59; a burn surgeon, however, is the primary medical caretaker for a much longer period of time. For me, the long-term human interaction is one of the reasons I chose medicine. Helping patients return to their life satisfies my soul.</p>
        <p>In 2008, I had my first interaction with an Amish patient – a young girl being treated at Mott Children's Hospital. She had open wounds and was on life support. I met with her parents and explained the recommended course of treatment, which they refused. When I explained it again, they refused a second time. I was about to move on when I was asked by the pediatric ICU staff to talk with the family one more time. When I did so, they explained their concerns and why they were asking to use a holistic, natural treatment. Because of my background as an immigrant and my early exposure to all types of religions and cultures, I found it difficult to dismiss them out of hand. I examined the little girl&#39;s wounds, noting that they were not infected and therefore could be monitored&#59; I gave the go ahead for the novel natural treatment. I closely watched the girl&#39;s progress and I realized that the ointment did seem to help in the healing of her wounds. This simple – yet complex –interaction was the start of my lasting relationship with the Plain Community.</p>
        <p>Due to my interest in burn care, I was also approached by the State of Michigan Department of Community Health (funded by the U. S. Department of Health and Human Services) to assist in the creation and maintenance of a State Burn Coordinating Center (SBCC). Our main intent with the Center was, and is, to educate and provide just-in-time training for pre-hospital and medical personnel caring for burn patients following a mass casualty event.</p>
      </div>
    </div>
    <div class="full dotty padding_bottom_half">
      <div class="sixty blue_left block margin_two_auto padding_left_one story">
        <h3>2009</h3>
        <p>Over time, word of my open-minded treatment of the young Amish girl, the exceptional care provided by the UM Burn Center staff, and the friendliness that is part of our organizational culture spread throughout the Plain Community, and we were approached to become their burn center of choice. From Maine to Colorado, Canada to Tennessee, serious burns within the community are now being referred to our burn center.</p>
        <p>Because of their lifestyle, members of the Plain Community are at very high risk for burn injuries. Over the past decades, they have developed a novel natural treatment (B&W) for burns and have asked us to partner with them to better understand how it works and how it can be used to obtain the best clinical results.</p>
      </div>
    </div>
    <div class="full dotty padding_bottom_half">
      <div class="sixty blue_left block margin_two_auto padding_left_one story">
        <h3>2010 - Present</h3>
        <p>Based on interest in and the multitude of uses for Analytic Morphomics – from determining surgical outcomes and drug treatment, to medical device and automotive design – I decided that this growing field of research should have its own space and focus. The Morphomics Analysis Group (MAG) is now an ever-growing team of cross-disciplinary collaborators who have not only strengthened our data pool, but also helped expand the use of morphomic applications across fields and specialties.</p>
      </div>
    </div>
